#jinja2:lstrip_blocks: True, trim_blocks: True
server {
    listen 80;
    listen [::]:80;

    server_name {{ subdomain }};

    return 301 https://{{ subdomain }}$request_uri;
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;

    server_name {{ subdomain }};

    charset utf-8;
    {# Need SSL certificate, _key, trusted_certificate #}

    {#  
        only one of `webroot` and `proxypass`
        will be defined 
    #}

    {%- if webroot is defined %}
    alias {{webroot}};
    # bottom text
    {% endif %}

    {%- if proxy_pass is defined %}
    proxy_set_header Host $host;
    proxy_pass: {{proxy_pass}};
    {% endif -%}

}
