location /{{subpath | regex_replace('(^/|/$)', '') | path_join}}/ {
    {% if webroot is defined %}
    alias {{webroot|regex_replace('/$','')}}/;
    {% endif %}

    {% if proxy_pass is defined %}
    proxy_set_header Host $host;
    proxy_pass: {{proxy_pass}};
    {% endif %}
}
